include ../mixins

#ip_container(ng-style="ip_container", style="display:none").center
    p <b>{{device.name}}</b> last updated ip is
    div.display_ip
        img(src="/images/ip.png", id="ip_image", alt="ip")
        span {{logdata[0].ip}}
    p updated on {{logdata[0].timestamp}} {{timezone}}
    hr

div.table-responsive
    table.table.table-hover
        thead
            tr
                th #
                th IP
                th Check-in
        tbody
            tr(ng-repeat="x in logdata")
                td {{x.ordering_number}}
                td {{x.ip}}
                td {{x.timestamp}}
    div.center {{message}}
div.right
    +button("danger", undefined ,"small", 'clearLog()') Clear log
br
br
div.panel.panel-default
    +panelHeader("Device info")
    div.panel-body
        p.no-margin <b>Device Key</b>: {{device.key}}
        p.no-margin <b>Registered on</b>: {{registered}}
    +panelFooter("Download here your settings.json to put in /etc/mylastipd")