include ../mixins

p Welcome to the members area! Here's a list of your registered devices:
div.table-responsive
    table.table.table-hover
        thead
            tr
                th #
                th Name
                th Last IP
                th Last check-in
                th Actions
        tbody
            tr(ng-repeat="x in devices")
                td {{x.ordering_number}}
                td {{x.name}}
                td {{x.data[0].ip}}
                td {{x.data[0].timestamp}}
                td
                    a(href="/members/device/{{x._id}}") View

div.center {{message}}

div.right
    +button("primary", undefined ,"small", "load()") Add device

#add-form.add-form
    h2 Add device
    form.form-horizontal
        +formTextView("new-device-name", "Name", "Input name here", "text", "new_device.name")
        +formTextView("new-device-order", "Order number", "", "number", "new_device.order")
        +formButton("Save Device", "saveDevice()")
    div.center {{new_device_message}}