extends layout

block append header
    //meta(http-equiv="refresh" content="2;URL=/dashboard")

block append scripts
    script(type='text/javascript').
        $(document).ready(function () {
            //$('#page').fadeOut(1000, function () {
            sessionStorage.accessToken = "#{token}";
            //});
        });

block content
    #page
        p Authenticating please wait...