include mixins

block content
    p {{tagline}}

    p With myLastIP you can know the IP of your machine without buy a static one.
    | It's simple, just register and install the application.
    | This is a new web-app!
    | myLastIP is very useful if you use Raspberry Pi for example, or any system that you want to monitor from the outside without knowing the IP address.
    h2 Instructions
    ul
        li 1. Register here and download your key file after login
        li 2. Go to download section, download and install .deb on your system
        li 3. Put your key in etc/mylastip and reboot or start the daemon
        li 4. See your machine IP logging here
    p System is working well but it is under development.
    p.getstartedcontainer.center
        +button("primary", undefined , "large") Get Started!
