include mixins
extends layout

block append scripts
    script(type='text/javascript').
        $(document).ready(function () {
            $('#page').fadeIn(1000, function () {
                console.log("Complete!");
            });
        });

block content
    #page
        <div ng-view></div>
