doctype html
html
    head
        title= title
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Know your ip everywhere for free with mylastip! Just register!')
        //link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Sintony:400,700')

        //<script type="text/rocketscript" data-rocketsrc='http://code.jquery.com/jquery-1.7.1.js'></script>
        //<script type="text/rocketscript" data-rocketsrc='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'></script>
    body

        block header
            #header
                h1.fronttitle=title

        block content
            #page

        block footer
            #footer
