doctype html
html(ng-app="mylastip")
    head
        title=title
        //meta(charset='utf-8')
        //meta(http-equiv='X-UA-Compatible', content='IE=edge')
        //meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Know your ip everywhere for free with mylastip! Just register!')
        base(href="/webapp/")
        // Styles
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu:400,300')
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        // Libs
        script(src='/libs/jquery/dist/jquery.min.js')
        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='/libs/jquery-ui/jquery-ui.min.js')
        script(src='/libs/angular/angular.min.js')
        script(src='/libs/angular-cookies/angular-cookies.min.js')
        script(src='/libs/angular-route/angular-route.min.js')
        // ngApp
        script(src='/javascripts/controllers/MainCrtl.js')
        script(src='/javascripts/controllers/UserLoginCrtl.js')
        script(src='/javascripts/routes/ngAppRoutes.js')
        script(src='/javascripts/ngapp.js')

    body
        block scripts


        block header
            #header
                h1.fronttitle="MyLastIP"

        block content
            #page

        block footer
            #footer
                ul.nav.nav-pills(style="display:inline-block")
                    li.nav-item
                        a.nav-link(href="/webapp/") Home
                    li.nav-item
                        a.nav-link(href="/webapp/login") Login
                    li.nav-item
                        a.nav-link(href="/webapp/download") Download
                    li.nav-item
                        a.nav-link(href="/webapp/register") Register

                p.copyright myLastIP, everything by @gabry3795. Default timezone is UTC everywhere