include mixins

block append scripts
    script(type='text/javascript').
        $(document).ready(function () {
            //$('#page').fadeOut(1000, function () {

            //});
        });

block content
    h1 Login
    div.beside-titles where magic happens...

    #login-container.width100.center
        div.inputform
            +inputFormGlyph("name","text", "Username", "user", "", "user.username")
            +inputFormGlyph("password","password", "Password", "console", "", "user.password")

            +buttonGroup("").center
                +buttonGroupElement("Login", "submit()")
                +buttonGroupElement("Register")
            p {{message}}

    //#login-container.center
        here
        div.beside-loginform.float-right
            p Use this form for login and once you entered enjoy the admin panel of you devices!