include mixins
extends layout

block append scripts
    script(type='text/javascript').
        $(document).ready(function () {
            //$('#page').fadeOut(1000, function () {

            //});
        });

block content
    #page
        h1 Login
        div(ng-controller="UserLogin").inputform
            +inputFormGlyph("name","text", "Username", "user", "", "user.username")
            +inputFormGlyph("password","password", "Password", "console", "", "user.password")

            +buttonGroup("").center
                +buttonGroupElement("Login", "submit()")
                +buttonGroupElement("Register")
            p {{message}}